<nav class="navbar navbar-expand-lg bg-white shadow-sm rounded mb-4">

    <div class="container-fluid">

        <h4 class="fw-bold text-primary mb-0">

            Dashboard Interactivo 

        </h4>

        <div class="d-flex align-items-center">

            <span class="me-4">

                🔔

            </span>

            <span class="me-4">

                👤 Jose Angel

            </span>

            <span id="fechaHora">

            </span>

        </div>

    </div>

</nav>